[Unit]
Description=PiTrac Web Server
After=network.target multi-user.target

[Service]
Type=simple
Nice=10
CPUWeight=50
MemoryMax=512M
DynamicUser=yes
WorkingDirectory=/usr/lib/pitrac/web-server
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/bin/python3 /usr/lib/pitrac/web-server/main.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target